{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<body>
  <style type="text/css">
  @media only screen and (min-width: 992px) {
    #mainNav .navbar-nav>li.nav-item>a {
      padding: 10px 20px;
      color: #000!important;
    }
  </style>
  <style type="text/css">
  @media only screen and (min-width: 992px){
    #mainNav .navbar-brand {
      padding: 10px 20px;
      color: #000!important;
}
}
</style>
<div class="wrapper container main-container my-4">
    <!-- Content Toggle Button  -->
    <div id="content"> 
        <!-- Page content goes here -->
        <br>
</p>
<img  src="{{url_for('static',filename='img/support-bg.jpeg')}}" class="img-responsive mx-auto d-block">.<br>
</p>
</div>
</div>
</body>
{% endblock %}